.center{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.centertext{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 2%;
}

#ranTall{
    font-size: 5em;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border: 2px solid;
}

body{
    padding: 0;
    margin: 0;
}

.contrast{
    background-color: rgb(255, 255, 255);
    padding: 2%;
}

.border{
    border-bottom: 3px solid;
}

#gratis{
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
}